<h1>上传文件</h1>
<form action="home/file" method="post" id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="uploadFile"></input>
    <button type="submit">提交</button>
</form>

<table>
    <th></th>
</table>