<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="c:\Log\NLog-all-${shortdate}.txt"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Console" name="console" />
    <target xsi:type="Debug" name="debug"/>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="LoggingStudy.*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>